@use '../styles/theme';

:local(.toolbar) {
  position: relative;
  height: 96px;
  display: flex;
  padding: 12px;
  background-color: theme.$background1-color;
  border-top: 1px solid theme.$border1-color;

  * {
    -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
  }
  @media (min-width: theme.$breakpoint-lg) {
    padding: 12px 24px;
    justify-content: space-between;
  }

  @media (max-width: theme.$breakpoint-sm) {
    width: 100vw;
    padding: 0;
    justify-content: space-between;
  }
}

:local(.content) {
  display: flex;
  flex: 1;
  justify-content: space-around;

  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;

    & > * {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  @media (max-width: theme.$breakpoint-sm) {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% + 4px);
    padding: 23px 12px 0;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: center;
    align-items: flex-start;
  }
  @container (min-width: 100vw) {
    justify-content: space-between;
  }
}
